@pace:registry=https://lab.jamit.de/api/v4/packages/npm/
//lab.jamit.de/api/v4/packages/npm/:_authToken=zozCCqNma86po5-5SkUV
//lab.jamit.de/api/v4/projects/996/packages/npm/:_authToken=zozCCqNma86po5-5SkUV
